@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');

$danger: #c62828;
$danger-dark: #b71c1c;
$danger-light: #d32f2f;

$info: #1565c0;
$info-dark: #0d47a1;
$info-light: #1976d2;

$success: #2e7d32;
$success-dark: #1b5e20;
$success-light: #388e3c;

$warning: #ef6c00;
$warning-dark: #e65100;
$warning-light: #f57c00;

$primary:#0f4796; //900
$primary-dark:#0a3169;
$primary-light:#3f6bab;

$secondary: #af1918; // 700
$secondary-dark: #7a1110;
$secondary-light: #bf4746;

// $tertiary: #00796b; // 700
// $tertiary-dark: #00695c;
// $tertiary-light:#00897b;

$light: #cfcfcf;
$black: #000000;
$body: #f3f3f3;
$disabled: #a3a3a3;
$text:#2e2e2e;

$transition:all 0.2s ease-in-out;
$radius : 5px;
$box-shadow: 0 0 10px 0px;
$box-shadow-top: 0px -10px  0px;
$box-shadow-left: -10px 0px  0px;
$box-shadow-bottom: 0px 10px  0px;
$box-shadow-right: 0px 0px  10px;
$border : solid 1.5px;

%full-screen{
    width: 100vw;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    &:horizontal{
        height: 7.5px;
    }
}
  
/* Track */
::-webkit-scrollbar-track {
    background: $light;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: $radius;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-dark;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.text-danger{
    color: $danger !important;
}

body{
    background:$body;
}
.link{
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration:underline;
        cursor: pointer;
    }
}

.back{
    background: #fdfdfd;
    border-radius: $radius;
    box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
    padding: 1em;

    &.back-padding-out{padding: 0;}
}

.shadow{
    box-shadow: $box-shadow rgba(105, 104, 104, 0.75) !important;
    background: #fdfdfd;
}
// btn
.btn-success{
    background: $success !important;
    color: $body !important;
    &:hover{background: $success-dark !important;}

    &:disabled{background: $disabled !important;}
}
.btn-primary{
    background: $primary !important;
    color: $body !important;
    &:hover{background: $primary-dark !important;}
    &:disabled{background: $disabled !important;}
}

// modal
.modal{
    background: rgba($color: #00000015, $alpha: 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & .modal-container{
        padding: 1em;
        background: #fdfdfd;
        width: 90vw;
        border-radius: $radius;

        & .modal-title{margin-bottom: 0.5em;}
    }
}

#signIn{
    // background: #547981;
    background: linear-gradient(to bottom, $primary-light, $primary-dark);
    & > div{height: 100vh;}
    & .form-sign-in{
        background: $body;
        border-radius: $radius;
        padding: 4em 0;
        -webkit-box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
        -moz-box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
        box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
        margin-top: 5em;
    }
}

.drawer{
    & .sidebar{
        background: $body;
        width: 300px;
        height: 100%;

        & .sidebar-header{
            height: 3em;
        }
    }

}

.menu-list{
    position: relative;
    
    &:hover  .menu-options{
        display: block;
    }
    & .menu-options{
        position: absolute;
        top: -10px;
        z-index: 100;
        background: #fff;
        padding:0.5em 0;
        width: auto;
        box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
        border-radius: $radius;
    }
}

.ul-action{
    list-style: none;

    & .li-action {
        padding: 0.5em;
        margin-bottom: 0.5em;
        // background: rgb(212, 212, 212);
        border-radius: $radius;
        border-bottom: 0.5px solid rgba(105, 104, 104, 0.75);

        &:hover{
            box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
        }
    }
}

.loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10000000000;
    top: 0;
    left: 0;
    background: $body;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.link-active{
    background: $light !important;
}

.more-info-table{
    margin: 1em;
    padding: 0 0.5em 0.5em 0.5em;
    border-radius: $radius;
    box-shadow: $box-shadow rgba(105, 104, 104, 0.75);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #signIn{
        & > div{height: 100vh;}
        & > div:nth-child(1){
            background: url('../img/img-sign-in.jpeg');
            background-size: cover;
            clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
        }
        & > div:nth-child(2){background: none;}
    
        & .form-sign-in{
            padding: 3em 0;
            margin-top: 0em;
        }
    }

    .drawer{
        & .sidebar{
            width: 250px;
    
            & .sidebar-header{height: 2.5em;}
        }
    }

    .modal{
        & .modal-container{
            padding: 1em;
            background: #fdfdfd;
            width: 40vw;
            border-radius: $radius;
    
            &.modal-xs{width: 30vw;}
            &.modal-lg{width: 55vw;}
            
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}